<h1>Configure Your Cookie !!</h1>

<h2>Select cookie base :</h2>

{{>base-selector}}

<h2>Select cookie addons:</h2>

{{#each allAddons}}

    <a class="btn {{#if (isInArray @root.cookie.addons this.[0])}}btn-disabled{{/if}}" href="/configurator/add-addon/{{this.[0]}}">add {{this.[0]}} for {{this.[1]}} PLN</a>

{{/each}}

{{#if cookie.base}}

    {{> cookie-preview}}
    {{> addons}}
    <a href="/order/summary" class=""><img src="/assets/images/cart.jpg" class="btn-order-now" alt=""></a>

{{else}}

    <p><strong>Please select cookie base to see its preview and price summary</strong></p>
    <p>{{>base-selector}}</p>

{{/if}}